{{#if group_session_room}}
    <div class="jumbotron">
        <div class="roomOptionWrapper">
            <div class="roomSeparateDivs">
                <h2 style="margin-bottom: 10px">
                    Room Code: 
                    <strong>{{group_session_room}}</strong>
                </h2>
                <div>
                    <a href="/loadRoom" class="btn btn-success btn-lg" role="button">
                        Enter VR Experience
                    </a>
                </div>
            </div>
            <div class="roomSeparateDivs">
                <h2>Room Information: </h2>
                <div>
                    {{#each group_map}}
                    <div>
                        <h3><b>{{@key}}: </b></h3>
                        <ul>
                        {{#each this}}
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" 
                                    data-target="#{{this.tag}}{{this._id}}" 
                                aria-expanded="false">
                                {{this.fileName}}
                            </button>
                            <p>
                                <div class="collapse envDetail" id="{{this.tag}}{{this._id}}">
                                    <div class="card-header"><b>{{this.fileName}}</b> by {{this.username}}</div>
                                    <div class="card card-body">
                                        {{this.description}}    
                                    </div>
                                </div>
                            </p>
                        {{/each}}
                        </ul>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/if}}
<div id="roomOptionContainer">
    <form action="/joinRoom" method="post">
        <div class="form-group">
            <label>Enter New Room Code to Join:</label>
            <input name="room_id" class="form-control" placeholder="Room Code" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Join New Room</button>
            <a id="createRoom" href="/createRoom" class="btn btn-secondary" role="button">
                Create New Room
            </a>
        </div>
    </form>
</div>

<a href="/createUserRoom" class="btn btn-secondary" role="button">Test Room Session</a>

<style>

#roomOptionContainer{
    margin: auto;
    width: 60%;
    padding: 20px;
    font-size: 1.5em;
}

.roomOptionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.roomSeparateDivs {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}

.userName {
    color: grey;
}

.envDetail {
    border: 1px solid rgb(49, 49, 49);
    border-radius: 5px;
}
 

</style>