<div class="jumbotron">
    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Environment</th>
            <th scope="col">HTML Name</th>
            <th scope="col">Upload Time</th>
            <th scope="col">File Description</th>
            <th scope="col">Owner</th>
            <th scope="col">Tag</th>
            <th scope="col">Remove Environment</th>
            </tr>
        </thead>
        <tbody>
            {{#each env}}
            <tr>
                <td class="folderName">{{this.envName}}</td>
                <td>{{this.htmlName}}</td>
                <td>{{this.uploadTime}}</td>
                <td>{{this.description}}</td>
                <td>{{this.username}}</td>
                <td>{{this.tag}}</td>
                <td><button class="btn btn-danger removeButton">Remove</button></td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $('.removeButton').click(function() {
        var folderToRemove = $(this).closest("tr").find('.folderName').text();
        console.log(folderToRemove);

        $.post('/removeFile', {folder: folderToRemove}).then(() => location.reload());
    })
</script>
<style>
.removeButton{
    padding-top: 1px;
    padding-bottom: 1px;
}
</style>